<link rel="stylesheet" type="text/css" href="style.css" />
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<div id="aboutus">
    <img src="about%20us.png" alt="bild för about us" width="360px">

</div>



<p class="brödtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in vulputate ex. Aenean ipsum ex, ornare non mi id, pretium accumsan lorem. Vivamus pulvinar nisl ut dolor accumsan, in imperdiet sapien ultrices. Proin mattis turpis tempus lacus gravida auctor. Nam lorem diam, fringilla nec tortor eget, volutpat fringilla justo.</p>

<div id="colorstrip">

<div id="logo">
    <img src="logo.png" alt="Logo för appen" width="160px;">
</div>
<!-- END LOGO -->
