<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="application-name" content="SeriesRandomizer">


    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" href="playstore-icon.png">
    <link rel="apple-touch-icon" sizes="58x58" href="Icon-App-29x29@2x.png">
    <link rel="apple-touch-icon" sizes="29x29" href="Icon-App-29x29@1x.png">
    <link rel="apple-touch-icon" sizes="60x60" href="Icon-App-60x60@1x.png">
    <link rel="apple-touch-startup-image" href="iTunesArtwork@3x.png">
    <link rel="apple-touch-startup-image" href="iTunesArtwork@2x.png">
    <link rel="apple-touch-startup-image" href="iTunesArtwork@1x.png">


    <link rel="manifest" href="manifest.json">
    <link rel="stylesheet" type="text/css" href="style.css" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="bodycolor">

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle knappis" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="Randomizer.html">Randomizer</a>
            <a class="dropdown-item" href="firstpage.html">Tv-shows</a>
            <a class="dropdown-item" href="About%20us.html">About us</a>
            <a class="dropdown-item" href="Sign.html">Sign in</a>
        </div>
    </div>

<form action="action_page.php">

<h1> Sign in</h1> 
  <div class="container">
    <label><b></b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b></b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <span class="psw">Forgot <a href="#">password?</a></span>
 
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


</body>

</html>
