    header {
        width: 100%;
        overflow: hidden;
        clear: both;

    }

    body {
        width: 100%;
    }

    .bodycolor {

        background-color: orange;
    }

    #dropdownMenuButton {
        background-color: #1b1b1b;
        border: none;
        width: 420px;
        margin-left: -180px;





    }




    .dropdown {


        position: absolute;
        top: 100%;
        margin-left: 175px;
        background-color: #6f1414;




    }


    .wrapper {
        width: 100%;
    }


    .Name {
        margin-top: 300px;
        font-size: 35px;
        width: 80%;
        margin-left: 33px;
        text-align: center;
        color: #dc3545;
        background-color: grey;
        background-size: contain;


    }

    .dropdown-menu.show {

        margin-left: -100px;
        border: none;
        text-align: center;
        width: 498px;
        padding-left: 75px;
        opacity: .8;




    }

    .knapp {

        margin-top: 130px;
        margin-left: -51px;
        height: 200px;
        width: 500px;
    }

    #aboutus {
        margin-left: 20px;
        margin-top: -30px;
        height: 150px;
    }

    #logo {
        padding-top: 475px;
        margin-left: -158px;


    }

    p {
        color: #7f7e7e;
        text-align: right;
        padding-left: 159px;
        padding-right: 65px;
        padding-top: 20px;
        font-size: 16px;
        width: 106%;
        margin-left: 15px;


    }

    h1 {
        margin-top: -400px;
        margin-left: 120px;
    }

    #colorstrip {
        width: 60%;
        height: 690px;
        background-color: white;
        margin-top: -570px;
        margin-left: 155px;
    }

    .poster {

        width: 120px;
        margin-top: 10px;
        margin-left: 3px;
        margin-bottom: 15px;
        margin-right: 2px;
        border-radius: 0px;
        box-shadow: 2px 3px 15px 1px black;

    }

    /* Bordered form */

    form {

        margin-top: 150px;
    }

    /* Full-width inputs */

    input[type=text],
    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        border-radius: 50px;
    }

    /* Set a style for all buttons */

    button {
        background-color: darkgray;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: default;
        width: 100%;
    }



    /* Add padding to containers */

    .container {
        padding: 16px;
    }

    /* The "Forgot password" text */

    span.psw {
        float: center;
        padding-top: 16px;
        margin-left: 135px;
    }

    /* Change styles for span and cancel button on extra small screens */

    @media screen and (max-width: 300px) {
        span.psw {
            display: block;
            float: none;
        }
        .cancelbtn {
            width: 100%;
        }


    }
